.header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border-style: dashed;
    border-width: thick;
    padding: 10px;

    h1 {
        text-decoration: underline;
        color: navy;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 50px;
    line-height: 2;
}

img {
    width: auto;
    height: 300px;
}

a {
    color:black;
    font-size: 125%;
}

nav {
    text-align: center;
    background-color: rgb(169, 170, 172);
    display: block;

    a {
        font-weight: bold;
        padding-left: 15px;
        padding-right: 15px;
    }
}
